* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: rgba(250, 250, 250);
    color: rgba(10, 10, 10);
}

header {
    width: 100%;
}

h1 {
    text-align: center;
    padding: 10px;
    
}

ul {
    margin: 0 auto;
}

li {
    text-align: center;
    margin: 10px;
    list-style: none;
}

#wrapper {
    width: 80vw;
    height: 98vh;
    margin: 1vh auto;
    border: 2px solid black;

}

#top-menu {
   height: max-content;
   padding: 10px 0;
   margin: 0 auto;
}

.main-menu-item {
    list-style: none;
    
}

.main-menu-item > a {
    display: inline-block;
    width: 250px;
    text-decoration: none;
    border: 2px dotted black;
    padding: 5px;
    color: black;
}

.main-menu-item > a:hover {
    background-color: black;
    color: white;
    border: 2px dotted white;
}

.site-title {
    text-decoration: none;
    color: black;
}

.page-title {
    text-align: center;
    margin: 20px;
}

.assignment {
    margin: 20px;

}

.left {
    text-align: left;
}

p {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

